<div class="paddedcontent">
<h1><%= @hotelname %></h1>
<%= image_tag "#{@image1}" %>


<br />

<%= render 'search/booking_table' %>

<p id="totals"><!--Placeholder for jQuery-generated total price, # of guests, and nights --></p>

<br />

<!--Note that I need to edit how the terms and conditions are displayed -->
<!--I'll need to let the user select which room and dates:  Want to return what the user has booked at the bottom using jQuery -->
<div id="fineprint">
<%= @bookingdetails['result']['thingsToNote'] %>



</div>