<div class="paddedcontent">
<h1><%= @hotelname %></h1>
<%= image_tag "#{@image1}" %>


<br />

<%= render 'search/booking_table' %>


<br />

<!--Note that I need to edit how the terms and conditions are displayed -->
<div id="fineprint">
<%= @bookingdetails['result']['thingsToNote'] %>



</div>