<div class="paddedcontent">
<h1><%= @hotelname %></h1>
<%= image_tag "#{@image1}" %>


<br />

<%= render 'search/booking_table' %>


<br />

<div id="fineprint">
<%= @bookingdetails['result']['thingsToNote'].gsub("hostelworld.com", "Our partner site, hostelworld.com") %>



</div>