
<div id="newsearch">
<h3>This is embarrassing...we can't find any places to stay in <span id="searcherror"><%= params[:location] %></span></h3>
<br />
<br />

<h3>Make sure you entered your search in the correct format (i.e. City, Country) and try again!</h3>

<p>
<form method="get" action="/search/results">
   <input id="search_name" name="location" placeholder="Enter a location (City, Country)" type="text"/>
   <input id="searchbutton" name="searchbutton" type="submit" value="Go Again!">
   </form>
</p>
</div>