<!-- <div class="container"> -->

   <div class="search">
  
  <div id="searchheading">
   <h1>Where do you want to go?</h1><br /><br /><br />

   <form method="get" action="/search/results">
   <input id="search_name" name="location" placeholder="Enter a location (City, Country)" type="text"/>
   <input id="searchbutton" name="searchbutton" type="submit" value="Let's Go!">
   </form>

   </div>

   <div id="searchtext">
   <p><span class="label label-important">NEW</span> Point B is a new service making travel as easy as A to B.  We're working on getting up and running, and we'll be live on March 28th.  You'll be able to book hostels and hotels in hundreds of international destinations at the absolute <em>lowest</em> prices.
	</p>
   </div>
</div>
<!-- </div> -->